<div class="main">
	<h1><%= @user.firstname %>'s Profile</h1>
		<hr>
</div>
<div class="col1">	
	<h2>Your username is: <%= @user.username %></h2>
		<p>[edit account details]</p>
		<br>
	<h2>Your profile picture:</h2>
		<p>Change your profile picture</p>
</div>
<div class="col2">
	<h2>Submit a Post</h2>
        <form method="POST" action="/new-post">
			<label for="title">Title: </label>
			<input type="text" name="title">
			<br><br>
			<label for="body">Body:</label>
			<br>
			<textarea rows="4" cols="40"type="text" name="body"></textarea>
			<br><br>
			<input type="submit">
		</form>
		<br><br>
	<h2>Your Previous Posts:</h2>
	<div class="post">
		<%@user.posts.reverse.each do |t|%>
			<br>
			<h3><%= t.title %> </h3>
			<hr>
			<p><%= t.body %> </p>
			<a href="/deletepost/<%= t.id %>">Delete</a>
			<br><br><br>
		<% end %>
	</div>
	<br><br><br><br>
</div>
<div id="delete">
	<a href="/delete">
		<img src="images/skull.png" height="75">
		<h2>DELETE MY ACCOUNT</h2>	
		<img src="images/skull.png" height="75">
	</a>
</div>
<br><br>


